* {
    margin: 0;
    overflow: hidden;
}

body {
    background-color: black;
}

#gridContainer {
    position: absolute;
    width: max-content;
    height: max-content;
    background-color: transparent;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    perspective: 1000px;
    transform-style: preserve-3d; /* 자식 요소의 3D 변환을 유지 */
    padding: 10vh;
    padding-right: 20vw;
    padding-left: 20vw;
}

.grid {
    background-color: blue;
    margin: 3px;
    background: rgba(255, 255, 255, 0.39);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.56);
    transition: transform 0.1s; /* 부드러운 변환 효과 */
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
#grid1 { 
    grid-area: 1 / 1 / 2 / 2; 
}
#grid2 { 
    grid-area: 1 / 2 / 2 / 4; 
}
#grid3 { 
    grid-area: 2 / 1 / 3 / 3; 
}
#grid4 { 
    grid-area: 2 / 3 / 3 / 4; 
}
#grid5 { 
    grid-area: 1 / 4 / 3 / 5; 
}

#grid1, #grid4 {
    width: 350px;
    height: 350px;
}

#grid2, #grid3 {
    height: 350px;
    width: 700px;
}

#grid5 {
    width: 350px;
    height: 709px;
}